body{
background: url("https://cdn.pixabay.com/photo/2020/11/21/11/17/houses-5763699_960_720.jpg");    
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
h2{
    text-align:center;
    color: red;
    background-position: center;
    text-shadow: 10px 5px 5px black;
    font-size: 100px;
}