section{
    height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    column-gap: px;
    flex-direction: row;
}

div{
    height: 300px;
    width: 300px;
    background-color: red;
    border: 1px solid white;
    
    
}
