section{
    height: 50vh;
    width: 100%;
    background-color:black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

div{
    height: 200px;
    width: 200px;
    background-color:red;
}
*
{
    background-color: orchid;
}
